nav
    div(class="nav-wrapper")
        a(href="#" class="brand-logo center") MyWeb
        ul(id="nav-mobile" class="left hide-on-med-and-down")
            li
                a(href="/") Home
            li
                a(href="/login") Login
            li
                a(href="/register") Register
            li
                a(href="/logout") Logout
