include head
include bar

span Welcome!
br
a(class="message")= message
div(class="collection" style="font-size: 30px")
    a(href="/task1" class="collection-item") Task1
    a(href="/task2" class="collection-item") Task2
    a(href="/task3" class="collection-item") Task3